body {
    background-image: url('https://raw.githubusercontent.com/FanWu56/FanWu.github.io/refs/heads/main/background.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    font-family: 'Helvetica', Arial, sans-serif;
    text-align: justify;;
    max-width: 50vw;
    
}

